<div *ngIf="!isLoading">
  <app-breadcrumbs [courseInf]="course"></app-breadcrumbs>
  <form [formGroup]="editForm" class="needs-validation" novalidate="">
    <div>
      <label for="title">Title</label>
      <input [(ngModel)]="course.name" formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
      <div class="error-mes" *ngIf="editForm.get('title').invalid  && (editForm.get('title').dirty || editForm.get('title').touched)"> Name required with max 15 character. </div>
    </div>

    <div>
      <label for="text-area">Description</label>
      <textarea [(ngModel)]="course.description" formControlName="description" class="form-control" id="text-area"></textarea>
      <div class="error-mes" *ngIf="editForm.get('description').invalid  && (editForm.get('description').dirty || editForm.get('description').touched)"> description required with max 500 character. </div>
    </div>
    <div>
      <!-- <app-date [data]="course">{{course.length | duration}}</app-date> -->
    </div>
    <div>
      <app-duration [data]="course" formControlName="course"></app-duration>
      <span> {{ course.length | duration }}</span>
    </div>

    <div>
      <label for="authors">Authors</label>
      <input type="text" formControlName="authors" class="form-control" id="authors">
    </div>

    <button class="btn btn-light my-2" type="button" (click)="handlerSave()" [disabled]="editForm.invalid">Save</button>
    <button class="btn btn-light my-2" type="button" (click)="handlerCancel()">Cancel</button>
  </form>
</div>
