<app-breadcrumbs></app-breadcrumbs>
<div class="search-block clearfix">
  <app-search-form
    (filterByEvent)="filterBy($event)">
  </app-search-form>
  <app-course-add></app-course-add>
</div>
<div *ngIf="!coursesToRender.length">
  NO DATA. FEEL FREE TO ADD NEW COURSE
</div>
<app-course-item
  *ngFor="let course of (coursesToRender | orderBy:'creationDate')"
  [courseItem]="course"
  (deleteEvent)="deleteCourse($event)">
</app-course-item>
<button *ngIf="coursesToRender.length" class="btn btn-outline-dark my-2 my-sm-0" type="button" (click)="loadMoreCourses()">Load more</button>
