.card {
  margin-bottom: 50px;
}

.main-content {
  width: 800px;
}

.star {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.active {
  background-image: url('../../../../../assets/active-star.png');
  background-size: cover;
}

.default {
  background-image: url('../../../../../assets/empty-star.png');
  background-size: cover;
}
