<div class="card"  [borderColor]="courseItem.creationDate">
  <div class="card-header">
    {{courseItem.title  | uppercase }}
    <div
      class="star"
      *ngIf="courseItem.topRated"
      [ngClass]="isActive ? 'active' : 'default'"
      (click)="activeStar()">
    </div>
  </div>
  <div class="card-body clearfix">
    <div class="float-left">
      <p class="date">creationDate: {{courseItem.creationDate | date}}</p>
      <p class="duration">duration: {{courseItem.duration | duration}}</p>
      <p class="description">description: {{courseItem.description}}</p>
    </div>
    <div class="float-right">
      <app-course-edit></app-course-edit>
      <button class="btn btn-dark my-2" type="button" (click)="deleteHandler(courseItem.id)">Remove</button>
    </div>
  </div>
</div>
